<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- İnternet bağlantısı için gerekli -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Konum için gerekli -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Sesli asistan için mikrofon izni -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CitWeety">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDiDImQmO0hIEmY-OdL4xZ3b989xSgR7LU" />

        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.CitWeety" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.CitWeety" />

        <activity
            android:name=".presentation.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.BudgetActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.FavoritesActivity"
            android:exported="false"
            android:label="Kişisel Favorilerim"
            android:theme="@style/Theme.CitWeety" />

        <activity
            android:name=".presentation.HometownDetailActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.VoiceAssistantActivity"
            android:exported="false"
            android:label="@string/title_activity_voice_assistant"
            android:theme="@style/Theme.CitWeety" />

        <activity
            android:name=".presentation.EmergencyActivity"
            android:exported="false"
            android:label="@string/title_activity_emergency"
            android:theme="@style/Theme.CitWeety" />

        <activity
            android:name=".PlacesActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.BudgetListActivity"
            android:exported="false" />
    </application>

</manifest>